/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */
.head {text-align:center;}

.diplomaticEdition, .criticalEdition {padding-left:6% !important; font-size:83% !important; padding-right:1% !important; text-align:justify}
div.box-body.Edition  {font-size:83% !important; text-align:justify}
.diplomaticEdition .head {padding-right:15% !important;}
.diplomaticEdition [data-n="miaone_centrale"] {margin-left:15% !important}
.criticalEdition, div.box-body.Edition {padding-right:6% !important}

.diplomaticEdition .del[data-hand="#A1"] {background-color:transparent; text-decoration:line-through !important; text-decoration-color:black !important}
.diplomaticEdition .add[data-hand="#A1"] {background-color:transparent ; color:black !important}
.diplomaticEdition .del[data-hand="#A2"] {background-color:transparent ; text-decoration:line-through !important; text-decoration-color:blue !important}
.diplomaticEdition .add[data-hand="#A2"] {background-color:transparent ; color:blue !important}
.diplomaticEdition .del[data-hand="#A3"] {background-color:transparent ; text-decoration:line-through !important; text-decoration-color:green !important}
.diplomaticEdition .add[data-hand="#A3"] {background-color:transparent ; color:green !important}
.diplomaticEdition .del[data-hand="#A4"] {background-color:transparent ; text-decoration:line-through !important; text-decoration-color:orange !important}
.diplomaticEdition .add[data-hand="#A4"] {background-color:transparent ; color:orange !important}

.front .p .del[data-hand="#A1"] {background-color:transparent; text-decoration:line-through !important; text-decoration-color:red !important;}
.front .p .add[data-hand="#A1"] {background-color:transparent ; color:red !important}
.front .p .del[data-hand="#A2"] {background-color:transparent ; text-decoration:line-through !important; text-decoration-color:blue !important}
.front .p .add[data-hand="#A2"] {background-color:transparent ; color:blue !important}
.front .p .del[data-hand="#A3"] {background-color:transparent ; text-decoration:line-through !important; text-decoration-color:green !important}
.front .p .add[data-hand="#A3"] {background-color:transparent ; color:green !important}
.front .p .del[data-hand="#A4"] {background-color:transparent ; text-decoration:line-through !important; text-decoration-color:orange !important}
.front .p .add[data-hand="#A4"] {background-color:transparent ; color:orange !important}

/* .diplomaticEdition .lb[data-n] {display:none}
.criticalEdition .lb[data-n] {display:block !important} */

.diplomaticEdition .sic, .diplomaticEdition .orig {color:inherit !important}
.diplomaticEdition .choice .corr {display:none !important}
.diplomaticEdition .choice .sic {text-decoration:none !important}

.diplomaticEdition .add[data-place="margin"] {
    width:20% !important ;
    float:right !important ; 
    padding-left:3% !important; 
    margin-right:3% !important; 
    text-align: left;

    }

.diplomaticEdition .add[data-place="margin"], .diplomaticEdition .add[data-place="bottom"], .diplomaticEdition .add[data-place="top"] {
    box-shadow: 10px 10px 5px grey; border-radius: 5px; background-color: beige !important; 
}
    
.diplomaticEdition .add[data-place="above"] {  
   vertical-align:super !important; 
   font-size:smaller !important;
}

.diplomaticEdition .add[data-place="below"]{
   vertical-align:sub !important; 
   font-size:smaller !important;
   width:30%}


.diplomaticEdition .add[data-place="bottom"]{ 
    display: block !important; 
    position: absolute !important; 
    bottom: -20em !important;
    
}


/* MARIGINI CON HOVER*/
.diplomaticEdition [data-n="miaone"]:hover + .add[data-place="margin"], span[data-n="miaone"]:hover, [data-n="miaone"]:hover + .add[data-place="bottom"], .add[data-place="margin"]:hover + [data-n="miaone"] {background-color: #dedbbc !important}
.diplomaticEdition [data-n="miaone"], .del[data-n="miaone"] {background-color: beige !important;}

.criticalEdition [data-n="miaone"]:hover, div.box-body.Edition [data-n="miaone"]:hover {background:inherit !important}


.namedEntityRef {color:inherit} 


/*.diplomaticEdition .choice{display:inline}.diplomaticEdition .choice:after,.diplomaticEdition .choice:before{content:""}.diplomaticEdition .choice .corr,.diplomaticEdition .choice .orig{font-size:80%;position:absolute;line-height:16px;display:none;border:1.5px solid #000;border-radius:3px;-o-box-shadow:2px 2px 2px #7e7067;-khtml-box-shadow:2px 2px 2px #7e7067;-ms-box-shadow:2px 2px 2px #7e7067;box-shadow:2px 2px 2px #7e7067;padding:.4%;margin-top:30px}.diplomaticEdition .choice .corr:before,.diplomaticEdition .choice .orig:before{left:15%;position:absolute;top:-13px}.diplomaticEdition .choice .corr:before{content:url(../images/popup_before_corr.png)}.diplomaticEdition .choice .corr,.diplomaticEdition .choice .corr {background:#f99069!important}.diplomaticEdition .choice .orig:before{content:url(../images/popup_before.png)}.diplomaticEdition .choice .orig,.diplomaticEdition .choice .orig {background:#e5dac4!important}.diplomaticEdition .choice .reg{color:#69513a}.diplomaticEdition .choice .reg.hover,.diplomaticEdition .choice .reg:hover{color:#561c0a}.diplomaticEdition .choice.hover .corr,.diplomaticEdition .choice.hover .orig,.diplomaticEdition .choice:hover .corr,.diplomaticEdition .choice:hover .orig{display:inline;min-width:30px;text-align:center;z-index:9}.diplomaticEdition .choice.hover .corr,.diplomaticEdition .choice:hover .corr{-khtml-transform:translate(-80%,0);transform:translate(-80%,0)}.diplomaticEdition .choice.hover .reg,.diplomaticEdition .choice:hover .reg{text-decoration:underline}.diplomaticEdition .choice .sic{color:#934d4d}.diplomaticEdition .choice .sup{line-height:20px;vertical-align:20%}.diplomaticEdition .choice .under{line-height:20px;vertical-align:-20%}.diplomaticEdition .sic{display:inline-table}.diplomaticEdition .sic:after,.diplomaticEdition .sic:before{content:" "}.diplomaticEdition .sic .corr{font-size:80%;position:absolute;line-height:16px;display:none;background:#f99069;border:1.5px solid #000;border-radius:3px;-o-box-shadow:2px 2px 2px #7e7067;-khtml-box-shadow:2px 2px 2px #7e7067;-ms-box-shadow:2px 2px 2px #7e7067;box-shadow:2px 2px 2px #7e7067;padding:.4%;margin-top:30px}.diplomaticEdition .sic .corr:before{content:url(../images/popup_before_corr.png);left:15%;position:absolute;top:-13px}.diplomaticEdition .sic .sic{color:#934d4d}.diplomaticEdition .sic .sic.hover,.diplomaticEdition .sic .sic:hover{color:#561c0a}.diplomaticEdition .sic.hover .corr,.diplomaticEdition .sic:hover .corr{display:inline;min-width:20px;text-align:center}.diplomaticEdition .sic.hover .sic,.diplomaticEdition .sic:hover .sic{text-decoration:underline}.diplomaticEdition .attachment{border:1px solid #000;padding:5px 0 0 10px}.diplomaticEdition .lineN{color:grey;font-size:.8em}.diplomaticEdition .resp{font-weight:700}.diplomaticEdition .red{color:red}.diplomaticEdition .hi[data-rend="7init"]{font-size:140%}.diplomaticEdition .hi[data-rend="init3.1"]{font-size:120%}.diplomaticEdition .hi[data-rend=cap]{text-transform:uppercase}.diplomaticEdition .hi[data-rend=double]{font-size:120%}.diplomaticEdition .ex{font-style:italic}.diplomaticEdition .zone{margin-bottom:5px}*/


.criticalEdition .lb[id="null"], div.box-body.Edition .lb[id="null"] {display:none}
.criticalEdition .lineN,  div.box-body.Edition .lineN {display:inline !important}
.criticalEdition .lb[data-n], div.box-body.Edition .lb[data-n] {display:inline !important}
.diplomaticEdition .lb[data-n], div.box-body.Edition .lb[data-n] {display:none!important}
.criticalEdition .lb > br, div.box-body.Edition .lb > br {display:none !important}
.criticalEdition .head > .lb, div.box-body.Edition .head > .lb {display:block !important; text-align: center !important;}
.criticalEdition .orig, .criticalEdition .sic, .criticalEdition .abbr, div.box-body.Edition .orig, 
div.box-body.Edition .sic, div.box-body.Edition .abbr {display:none}
/*.criticalEdition .choice .corr, .criticalEdition .choice .reg, .criticalEdition .choice .expan {color:purple !important} */
div.box-body.Edition .del {display:inline !important}
.criticalEdition .del[data-hand="#A3"] {display:inline !important}
.criticalEdition .del[data-hand="#A2"] {display:none !important}
.inApparatus {display:none !important}
.app_lemma_content .inApparatus {font-size:0% !important}


.front .p .add {color:red !important}  
.criticalEdition .persName .lb, div.box-body.Edition .persName .lb {display:inline}
.criticalEdition .emph, div.box-body.Edition .emph {font-weight:inherit}
.criticalEdition [data-rend="italic"], div.box-body.Edition [data-rend="italic"] {font-style:inherit !important}
.criticalEdition [data-n="miaone"]:hover, .criticalEdition [data-n="miaone"], div.box-body.Edition [data-n="miaone"]:hover, div.box-body.Edition [data-n="miaone"] {background:inherit !important}

@media screen and (max-width: 1000px) and (min-width: 701px) {
  .diplomatic, [data-place="bottom"] {
  font-size:75% !important
  }}

@media screen and (max-width: 700px) {
  .diplomatic, [data-place="bottom"] {
  font-size:65% !important
  }}
